<!-- File: voter_analytics/templates/voter_analytics/filter.html -->
<!--
    CS412 Assignment 10 - External Data, Filtering and Graphing
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This is the filter template to filter data.
-->


<h3>Filter</h3>

<table>
  <form method="get" action="{% url 'home' %}">
    <tr>
        <td><label for="party">Party Affiliation</label></td>
        <td>
            <select name="party" id="party">
                <option value="">All parties</option>
                <option value="R" {% if request.GET.party == 'R' %}selected{% endif %}>Republican</option>
                <option value="D" {% if request.GET.party == 'D' %}selected{% endif %}>Democratic</option>
                <option value="U" {% if request.GET.party == 'U' %}selected{% endif %}>Unaffiliated</option>
                <option value="J" {% if request.GET.party == 'J' %}selected{% endif %}>Independent Party</option>
                <option value="CC" {% if request.GET.party == 'CC' %}selected{% endif %}>Constitution Party</option>
                <option value="L" {% if request.GET.party == 'L' %}selected{% endif %}>Libertarian Party</option>
                <option value="T" {% if request.GET.party == 'T' %}selected{% endif %}>Tea Party</option>
                <option value="G" {% if request.GET.party == 'G' %}selected{% endif %}>Green Party</option>
                <option value="Q" {% if request.GET.party == 'Q' %}selected{% endif %}>Reform Party</option>
                <option value="FF" {% if request.GET.party == 'FF' %}selected{% endif %}>Freedom Party</option>
                <option value="O" {% if request.GET.party == 'O' %}selected{% endif %}>Other</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <td><label for="min_birth_year">Minimum Birth Year:</label></td>
        <td>
          <select name="min_birth_year" id="min_birth_year">
            <option value="">Select Year</option>
            {% for year in birth_years %}
              <option value="{{ year }}" {% if request.GET.min_birth_year == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
        </td>
    </tr>

    <tr>
        <td><label for="max_birth_year">Maximum Birth Year:</label></td>
        <td>
          <select name="max_birth_year" id="max_birth_year">
            <option value="">Select Year</option>
            {% for year in birth_years %}
              <option value="{{ year }}" {% if request.GET.max_birth_year == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
        </td>
    </tr>

    <tr>
      <td><label for="voter_score">Voter Score:</label></td>
      <td>
        <select name="voter_score" id="voter_score">
          <option value="">Select Score</option>
          <option value="1" {% if request.GET.voter_score == '1' %}selected{% endif %}>1</option>
          <option value="2" {% if request.GET.voter_score == '2' %}selected{% endif %}>2</option>
          <option value="3" {% if request.GET.voter_score == '3' %}selected{% endif %}>3</option>
          <option value="4" {% if request.GET.voter_score == '4' %}selected{% endif %}>4</option>
          <option value="5" {% if request.GET.voter_score == '5' %}selected{% endif %}>5</option>
        </select>
      </td>
    </tr>

    <tr>
        <td>Voted in Elections:</td>
        <td>
          <div>
            <input type="checkbox" id="v20state" name="v20state" value="1" {% if request.GET.v20state %}checked{% endif %}>
            <label for="v20state">2020 State Election</label>
          </div>
          <div>
            <input type="checkbox" id="v21town" name="v21town" value="1" {% if request.GET.v21town %}checked{% endif %}>
            <label for="v21town">2021 Town Election</label>
          </div>
          <div>
            <input type="checkbox" id="v21primary" name="v21primary" value="1" {% if request.GET.v21primary %}checked{% endif %}>
            <label for="v21primary">Primary Election</label>
          </div>
          <div>
            <input type="checkbox" id="v22general" name="v22general" value="1" {% if request.GET.v22general %}checked{% endif %}>
            <label for="v22general">2022 General Election</label>
          </div>
          <div>
            <input type="checkbox" id="v23town" name="v23town" value="1" {% if request.GET.v23town %}checked{% endif %}>
            <label for="v23town">2023 Town Election</label>
          </div>
        </td>
    </tr>

    
    <tr>
      <td><input type="submit" value="Search"></td>
    </tr>
  </form>
</table>