<!-- File: voter_analytics/templates/voter_analytics/voter.html -->
<!--
    CS412 Assignment 10 - External Data, Filtering and Graphing
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This is the voter template which displays the information for a single voter
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <div>
        <h1>Voter Details</h1>
        <a href="{% url 'home' %}">Back to Voters List</a>
    </div>

    <div>
        <h2>Personal Information on {{ voter.first_name }} {{ voter.last_name }}</h2>
        <p><strong>Date of Birth:</strong> {{ voter.dob }}</p>
        <p><strong>Date of Registration:</strong> {{ voter.dor }}</p>
        <p><strong>Party Affiliation:</strong> {{ voter.party_affiliation }}</p>
        <p><strong>Precinct:</strong> {{ voter.precinct_number }}</p>
    </div>

    <div>
        <h3>Google Maps</h3>
        <span>
          <a href="https://www.google.com/maps/?q={{ voter.res_street_number }} {{ voter.res_street_name }}{% if voter.res_apartment_number %} Apt {{ voter.res_apartment_number }}{% endif %} {{ voter.res_zip_code }}" 
            target="_blank" 
            class="maps-link">
            Open in Google Maps
          </a>
        </span>
      </div>

    <div>
        <h3>Voting History</h3>
        <ul>
            <li>2020 State Election: {{ voter.v20state }}</li>
            <li>2021 Town Election: {{ voter.v21town }}</li>
            <li>2021 Primary Election: {{ voter.v21primary }}</li>
            <li>2022 General Election: {{ voter.v22general }}</li>
            <li>2023 Town Election: {{ voter.v23town }}</li>
        </ul>
    </div>

    <div>
        <h3>Voter Score</h3>
        <p>{{voter.voter_score}}</p>
    </div>
</div>
{% endblock %}
