<!-- File: hw/templates/hw/about.html -->

{% extends 'hw/base.html' %}

{% block content %}

    <h1>About this page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, nisi? Deserunt minus animi id ipsam esse maiores atque tempore vitae ratione. Explicabo, dolores reprehenderit. In cumque quaerat dolorem fugit officia!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor dolores iste alias sit recusandae necessitatibus neque vero quia sequi, exercitationem ea quisquam modi magni minus quam, eaque harum pariatur tempora.
    </p>

{% endblock %}
        