<!-- File: hw/templates/hw/base.html -->

{% load static %}
<html>
    <head>
        <title>Hello, world!</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'about_page' %}">About</a></li>

        </nav>
        
        <!-- put page specific content here -->
         {% block content %}
         {% endblock %}

         <footer>
            The current time is {{time}}.
            This page has been brought to you by the letters 
            {{letter1}} and {{letter2}}, and by the number {{number}}.
        </footer>
    </body>
</html>