<!-- File: project/templates/project/base.html -->
<!--
    CS412 - Project (Restaurant Reservation)
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This is the base template for the  application.
    It includes the main structure of the webpage, including the header, footer, and navigation links.
    Other templates extend from this base template.
-->
    

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'project/project.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Restaurant Reservation</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <body>
    <header>
      <div class="base-container">
        <h1>
          <a href="{% url 'restaurant_list' %}">
            Restaurant Reservations
          </a>
        </h1>

       
        {% if request.user.is_authenticated %}
          <p class="user-greeting">
            Welcome, <strong>{{ request.user.username }}</strong>
          </p>
        {% endif %}
    
          <nav>
            <ul>
              <li>
                <a href="{% url 'restaurant_list' %}">Show All Restaurants</a>
              </li>
      
              {% if request.user.is_authenticated %}
              <div class="authenticated-nav">
                <li>
                  <a href="{% url 'customer_profile' %}">My Profile</a>
                </li>
                <li>
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                  </form>
                </li>
              </div>
            {% else %}
              <div class="guest-nav">
                <li>
                  <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                  <a href="{% url 'registration' %}">Register</a>
                </li>
              </div>
            {% endif %}
            </ul>
          </nav>
        </div>
    </header>
    
    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <p>All rights reserved by Winson Dong <a href="https://www.linkedin.com/in/winsondong/" target="_blank">Credits</a>&copy;</p>
    </footer>
  </body>










</html>