<!-- File: project/templates/project/filter.html -->
<!--
    CS412 - Project (Restaurant Reservation)
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template allows for filtering by cuisine.
-->


<h3>Filter</h3>

<table>
  <form method="get" action="{% url 'restaurant_list' %}">
    <tr>
        <td><label for="cuisine">Cuisines<label></td>
        <td>
            <select name="cuisine" id="cuisine">
                <option value="">All cuisines</option>
                {% for cuisine in cuisines %}
                    <option value="{{ cuisine }}" {% if request.GET.cuisine == cuisine %}selected{% endif %}>
                        {{ cuisine|capfirst }}
                    </option>
                {% endfor %}
            </select>
            
        </td>
    </tr>
    
    <tr>
      <td><input type="submit" value="Search"></td>
    </tr>
  </form>
</table>