<!-- File: project/templates/project/login.html -->
<!--
    CS412 - Project (Restaurant Reservation)
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template provides the page to for user to login.
    
-->

{% extends 'project/base.html' %}

{% block content %}

<h1>Login</h1>
<form method="post" action="{% url 'login' %}" >
    
    {% csrf_token %}
    
    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username }}

    <label for="{{ form.password.id_for_label }}">Password:</label>
    {{ form.password }}
    
    <br>

    <input type="submit" value="Login">
     {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
     {% else %}
        <input type="hidden" name="next" value="{% url 'restaurant_list' %}">
     {% endif %}
</form>
<hr>
Don't have an account?
<a href="{% url 'register' %}">Sign up!</a>

{% endblock %}