<!-- File: project/templates/project/reservation_success.html -->
<!--
    CS412 - Project (Restaurant Reservation)
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template allows for filtering by cuisine.
-->

{% extends 'project/base.html' %}

    {% block content %}

        <div class="reservation-success-container">
            <h1>Reservation Confirmed</h1>
            <p>Your reservation for {{reservation.restaurant.restaurant_name}} has been booked for {{reservation.reservation_date}} at {{reservation.reservation_time}}!</p>
            <button><a href="{% url 'restaurant_list' %}">Browse more restaurants</a></button>
            <br>
            <button><a href="{% url 'customer_profile' %}">Go to profile</a></button>
        </div>
    
    {% endblock %}
