<!-- File: project/templates/project/restuarant_detail.html -->
<!--
    CS412 - Project (Restaurant Reservation)
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template displays a list of all restaurants.
    Users can click on a restaurant to view more details and make a reservation.
-->


{% extends 'project/base.html' %}

    {% block content %}
        <h1>{{ restaurant.restaurant_name }}</h1>
        <p><strong>Cuisine:</strong> {{ restaurant.get_cuisine_display }}</p>
        <p><strong>Address:</strong> 
            {{ restaurant.restaurant_street_number }} {{ restaurant.restaurant_street_name }},
            {{ restaurant.restaurant_city }}, {{ restaurant.restaurant_state }} {{ restaurant.restaurant_zip_code }}
        </p>
        <p><strong>Phone:</strong> {{ restaurant.restaurant_number }}</p>
        <p><strong>Hours:</strong> {{ restaurant.opening_hours }}</p>

        <h2>Available Tables</h2>
        <ul>
            {% for table in restaurant.tables.all %}
                <li>Table {{ table.table_number }} - {{ table.seating_capacity }} seats available</li>
            {% empty %}
                <li>No tables defined yet.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'restaurant_reservation' restaurant.pk %}">Click here to make a reservation!</a>
    {% endblock %}