<!-- File: project/templates/project/restuarant_list.html -->
<!--
    CS412 - Project (Restaurant Reservation)
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template displays a list of all restaurants.
    Users can click on a restaurant to view more details and make a reservation.
-->


{% extends 'project/base.html' %}

{% block content %}
    <h1>Browse Restaurant</h1>

    <div class="filter-div">
    <form action="{% url 'restaurant_list' %}" method="GET">
        {% include "project/filter.html" %}
    </form>
    </div>

    <div class="restaurant-list">
    {% for restaurant in restaurants %}
        <article class="restaurant-card">
        <h2>
            <a href="{% url 'restaurant_detail' restaurant.pk %}">
            {{ restaurant.restaurant_name }}
            </a>
        </h2>
        <p class="cuisine">
            <strong>Cuisine:</strong> {{ restaurant.get_cuisine_display }}
        </p>
        <p class="address">
            <strong>Address:</strong>
            {{ restaurant.restaurant_street_number }}
            {{ restaurant.restaurant_street_name }},
            {{ restaurant.restaurant_city }},
            {{ restaurant.restaurant_state }}
            {{ restaurant.restaurant_zip_code }}
        </p>
        <p class="phone">
            <strong>Phone:</strong> {{ restaurant.restaurant_number }}
        </p>
        <p class="hours">
            <strong>Hours:</strong> {{ restaurant.opening_hours }}
        </p>
        </article>
        <hr>
    {% endfor %}
    </div>

{% endblock %}