<!-- File: project/templates/project/restuarant_detail.html -->
<!--
    CS412 - Project (Restaurant Reservation)
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template displays details for a single restaurant
    Users can click on a restaurant to view more details and make a reservation.
-->


{% extends 'project/base.html' %}

    {% block content %}
        <div class="restaurant-details-container">
            <div class="restaurant-details-card">
                <h2>{{ restaurant.restaurant_name }}</h2>
                    <p><strong>Cuisine:</strong> {{ restaurant.get_cuisine_display }}</p>
                    <p><strong>Address:</strong> 
                        {{ restaurant.restaurant_street_number }} {{ restaurant.restaurant_street_name }},
                        {{ restaurant.restaurant_city }}, {{ restaurant.restaurant_state }} {{ restaurant.restaurant_zip_code }}
                    </p>
                    <p><strong>Phone:</strong> {{ restaurant.restaurant_number }}</p>
                    <p><strong>Hours:</strong> {{ restaurant.opening_hours }}</p>
            </div>

            {% if request.user.is_authenticated %}
            <div class="restaurant-details-tables">
                <h3>Available Tables</h3>
                    <ul>
                        {% for table in tables %}
                           <a href="{% url 'restaurant_reservation' restaurant.pk %}?table={{ table.pk }}"><li>Table {{ table.table_number }} - {{ table.seating_capacity }} seats available</li></a>
                           
                        {% endfor %}
                    </ul>
            </div>
            {% endif %}

            {% if not request.user.is_authenticated %}
                <div class="restaurant-details-reservation">
                    <a href="{% url 'login' %}">Login to make a reservation!</a>
                </div>
            {% endif %}

            <button class="back-to-restaurants-btn"><a href="{% url 'restaurant_list' %}">Back to all restaurants</a></button>

        </div>
    {% endblock %}