<!-- File: project/templates/project/restuarant_list.html -->
<!--
    CS412 - Project (Restaurant Reservation)
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template displays a list of all restaurants.
    Users can click on a restaurant to view more details and make a reservation.
-->


{% extends 'project/base.html' %}

    {% block content %}
    <h1>Browse Resaturant</h1>

    <div>
        <form action="{% url 'restaurant_list' %}" method="GET">
          {% include "project/filter.html" %}
        </form>
    </div>

    <div class="restaurant-list">
        {% for restaurant in restaurants %}
            <div class="restaurant-card">
                <a href="{% url 'restaurant_detail' restaurant.pk %}"><h2>{{restaurant.restaurant_name}}</h2></a>
                <p><strong>Cuisine: </strong>{{ restaurant.get_cuisine_display }}</p>
                <p><strong>Address: </strong> {{ restaurant.restaurant_street_number }} {{ restaurant.restaurant_street_name }},
                    {{ restaurant.restaurant_city }}, {{ restaurant.restaurant_state }} {{ restaurant.restaurant_zip_code }}
                </p>
                <p><strong>Phone:</strong> {{ restaurant.restaurant_number }}</p>
                <p><strong>Hours:</strong> {{ restaurant.opening_hours }}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
    {% endblock %}