<!-- templates/article.html -->
{% extends 'blog/base.html' %}

{% block content %}
<h1>{{article.title}}</h1>


<main class="grid-container">
   <article>
        {% if article.image_file %}
        <img src="{{article.image_file.url}}" alt=""> 
        {% else %}
        <h3>No Image</h3>
        {% endif %}
       <div>
           <h2>{{article.title}}</h2>
           <h3>by {{article.author}} at {{article.published}}</h3>
           <p>
               {{article.text}}
           </p>
           <h3>
            <a href="{% url 'update_article' article.pk %}">Update Article</a>
           </h3>

       </div>
      

    </article>
    <h2>Comments</h2>
    <h3>
        <a href="{% url 'create_comment' article.pk %}">Create a comment</a>
    </h3>
    <!-- Display the comments for this article -->
    {% for comment in article.get_all_comments %}
        <div>
        <strong>by {{comment.author}} at {{comment.published}}</strong>
        <p>
            {{comment.text}}
            <br>
            <!-- link to delete this comment -->
            <a href="{% url 'delete_comment' comment.pk %}">Delete</a> <!-- NEW -->
        </p>
        </div>
    {% endfor %}

   <hr>

</main>
{% endblock %}