<!-- blog/templates/blog/base.html -->
{% load static %}

<html>
    <head>
        <title>Our Blog</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>

    <body>
        <head>
            <h1>Our Blog</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'random' %}">Random</a></li>
                    <li><a href="{% url 'show_all' %}">Show All</a></li>
                    <li><a href="{% url 'create_article' %}">Create Article</a></li>
                </ul>
            </nav>
        </head>
    
        <!-- substitute in the specific content here -->
        {% block content %}
        {% endblock %}    
  
    </body>
</html>