<!-- blog/templates/login.html -->
{% extends 'blog/base.html' %}

{% block content %}

<h1>Login to our blog</h1>
<form method="post" action="{% url 'login' %}" >
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Login">
    <!-- This basic login form works, but after login in
     assumed the existance of a page at /registration/profile, which
     does not exist.  -->
     {% if request.GET.next %}
     <input type="hidden" name="next" value="{{request.GET.next}}">
     {% else %}
     <input type="hidden" name="next" value="{% url 'show_all' %}">
     {% endif %}
</form>
<hr>
Don't have an account? 
<a href="{% url 'register' %}">Register here</a>.

{% endblock %}