<!-- templates/show_all.html -->
 {% extends 'blog/base.html' %}

 {% block content %}
<h1>Showing all profiles</h1>

<!-- this displays the QuerySet of all articles. -->
 <!-- {{articles}}-->

<main class="grid-container">
    <!-- scriptlet code for a for loop -->
    {% for article in articles %}
    <article>
        <div>
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}}</h3>
            <p>
                {{article.text}}
            </p>
        </div>
        <a href="{% url 'article' article.pk %}">
        <!-- <img src="{{article.image_url}}" alt=""> -->
        {% if article.image_file %}
            <img src="{{ article.image_file.url }}" alt="">
        {% else %}
            No image
        {% endif %}

        </a>

    </article>
    <hr>

    {% endfor %}
</main>
{% endblock %}