<!-- File: mini_fb/templates/mini_fb/base.html -->
<!--
    CS412 - Mini Facebook
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This is the base template for the mini_fb application.
    It includes the main structure of the webpage, including the header, footer, and navigation links.
    Other templates extend from this base template.
-->
    

{% load static %}
<html>
    <head>
        <title>Mini FB</title>
        <link rel="stylesheet" href="{% static 'mini_fb/mini_fb.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini FB</h1>
        
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}">Show All</a></li>
                    <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
                    {% if request.user.is_authenticated %}
                            Logged in as user: {{ request.user }}
                    {% endif %}
                        
                    {% if request.user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'logout_mfb' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login_mfb' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        
       
        <!-- put page specific content here -->
        <main>
        {% block content %}

        {% endblock %}
        </main>
    
        <footer>
            <p>All rights reserved by Winson Dong <a href="https://www.linkedin.com/in/winsondong/" target="_blank">Credits</a>&copy;</p>
        </footer>
    </body>
</html>