<!-- File: mini_fb/templates/mini_fb/create_profile_form.html -->
<!--
    CS412 - Assignment 6
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template provides a form for users to create and post status updates.
    Users can enter a text status and submit it to be displayed on their profile page.
-->

{% extends 'mini_fb/base.html' %}

    {% block content %}
    <h1>Post a status message for {{profile.first}} {{profile.last}}</h1>
    
    <form method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>

        <input type="submit" name="submit" value="Submit">
    </form>
    

    {% endblock %}