<!-- File: mini_fb/templates/mini_fb/create_profile_form.html -->
<!--
    CS412 - Mini Facebook
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template contains the form for creating a new user profile in the mini_fb application.
    It includes input fields for user attributes such as name, city, email, and profile image.
-->


{% extends 'mini_fb/base.html' %}

    {% block content %}
    <form action="{% url 'create_profile' %}" method="post">
        {% csrf_token %}

        <h3>Create user</h3>
        {{user_form}}

        <h3>Create profile</h3>
        <table>
            {{form.as_table}}
        </table>

        <input type="submit" name="submit" value="Create new profile">
    </form>
    

    {% endblock %}