<!-- File: mini_fb/templates/mini_fb/delete_status_form.html -->
<!--
    CS412 - Mini Facebook
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template provides a form for users to delete a StatusMessage
    
-->

{% extends 'mini_fb/base.html' %}

    {% block content %}
    <h3>Delete Status Message?</h3>

    <div>
        <p>
            {{status_message.message}} from {{status_message.profile}}
            <br>
            {{status_message.timestamp}}
        </p>
    </div>

    <!-- form to submit the delete request -->
     <div class="confirmation-buttons">
        <form method='POST'>
            {% csrf_token %}
            <input type='submit' value="Delete">
        </form>

        <!-- Add a separate form for a cancel button -->
        <form action="{% url 'show_profile' status_message.profile.pk %}" method="GET">
            <input type="submit" value="Cancel">
        </form>
    </div>



    {% endblock %}