<!-- File: mini_fb/templates/mini_fb/delete_status_form.html -->
<!--
    CS412 - Assignment 6
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template provides a form for users to delete a StatusMessage
    
-->

{% extends 'blog/base.html' %}

    {% block content %}
    <!-- templates/blog/delete_comment.html -->

    <h3>Delete Status Message?</h3>

    <div>
        <p>
            {{status_message.message}} from {{status_message.profile}}
            <br>
            {{status_message.timestamp}}
        </p>
    </div>

    <!-- form to submit the delete request -->
    <form method='POST'>
        {% csrf_token %}
        <input type='submit' value="Delete">
    </form>

    <!-- Add a separate form for a cancel button -->
    <form action="{% url 'show_profile' status_message.profile.pk %}" method="GET">
        <input type="submit" value="Cancel">
    </form>



    {% endblock %}