<!-- File: mini_fb/templates/mini_fb/show_profile.html -->


{% extends 'mini_fb/base.html' %}

    {% block content %}
    <table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th></th>
        <th>Status Message</th>
    </tr>
    <tr>
        <td>{{profile.first}}
            {{profile.last}}
        </td>
        <td>{{profile.city}}</td>
        <td><img src="{{profile.profile_image_url}}" alt=""></td>
        <td>
            {% for message in profile.get_status_messages %}
                "{{message.message}}" - 
                {{message.timestamp}}
                <br>
            {% endfor %}
        </td>
    </tr>
    <div class="add-status-container">
        <h3>
            <a href="{% url 'create_status' profile.pk %}" class="add-status-link">
                Click to add status message
            </a>
        </h3>
    </div>
    
      
    
    </table>
    

    {% endblock %}