<!-- File: mini_fb/templates/mini_fb/show_profile.html -->
 <!--
    CS412 - Mini Facebook
    Author: Winson Dong (winson@bu.edu)
    
    Description:
    This template displays an individual user's profile, including their profile picture, name, city, and email.
    Users can also view status updates posted by the profile owner.
-->

{% extends 'mini_fb/base.html' %}

    {% block content %}
    <table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Email</th>
        <th></th>
        <th>Status Message</th>
        <th>{{profile.first}}'s friends</th>
    </tr>
    <tr>
        <td>{{profile.first}}
            {{profile.last}}
        </td>
        <td>{{profile.city}}</td>
        <td>{{profile.email_address}}</td>
        <td><img src="{{profile.profile_image_url}}" alt="{{profile.first}} {{profile.last}}"></td>
        <td>
            {% for message in profile.get_status_messages %}
                <div>
                    "{{message.message}}" - {{message.timestamp}}
                    <br>
                    {% for statusimage in message.get_images %}
                        <img src="{{ statusimage.image.image_file.url }}" alt="Image">
                    {% endfor %}
                </div>

                <a href="{% url 'update_status' message.pk %}">Update</a>
                <a href="{% url 'delete_status' message.pk %}">Delete</a>

            {% endfor %}
        </td>
        <td>
            {% if profile.get_friends %}
                {% for friend in profile.get_friends %}
                    <div>
                        <a href="{% url 'show_profile' friend.pk %}">
                            <img src="{{friend.profile_image_url}}" alt="{{friend.first}} {{friend.last}}">
                        </a>
                        <a href="{% url 'show_profile' friend.pk %}">
                            {{friend.first}} {{friend.last}}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div>No friends yet</div>
            {% endif %}
        </td>
    </tr>

    <div class="add-status-container">
        <h3>
            <a href="{% url 'update_profile' profile.pk %}" class="add-status-link">
                Update profile
            </a>
        </h3>
        <h3>
            <a href="{% url 'create_status' profile.pk %}" class="add-status-link">
                Add status message
            </a>
        </h3>
    </div>
    
    
    </table>
    <div style="text-align: right;">
        <h3>
            <a href="{% url 'show_friend_suggestions' profile.pk %}" class="add-status-link">
                Friend Suggestions
            </a>
        </h3>
    </div>
    

    {% endblock %}