<!-- File: quotes/templates/quotes/show_all.html -->


{% extends 'quotes/base.html' %}

    {% block content %}
        <div class="quotes-container">
            <h2 class="quotes-title">All Quotes by Muhammad Ali</h2>
            <ul class="quotes-list">
                {% for q in quote %}
                    <li class="quote-item">{{ q }}</li>
                {% endfor %}
            </ul>
            
            <h2 class="images-title">All Images of Muhammad Ali</h2>
            <div class="images-gallery">
                {% for img in image %}
                    <div class="image-item">
                        <img class="image-quote" src="{{img}}" alt="Muhammad Ali">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
