@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FAF3E0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header */
header {
    background: #4d4afb;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

header h1 {
    font-size: 24px;
}

/* Nav */
nav ul {
    list-style: none;
    
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul a:hover {
    background: white;
    color: #4d4afb;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    
}

tr a {
    text-decoration: none;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Profile images */
img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
}

img:hover {
    transform: scale(1.1);
}


/** Footer **/
footer {
    background-color: #4d4afb;
    color: bisque;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    
}

footer p {
    margin: 0;
    padding: 1;
}

footer a {
    color: bisque;
    
}

footer a:hover {
    text-decoration: underline;
}

